*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://cdn.magicdecor.in/com/2023/02/29184224/image-1689504354-3016.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: aqua;
 }

        

h2{
     color: aqua;
}

button,input,select{
    background-color: purple;
    color: aqua;
}

#box{
    background-image: url(https://cdn.magicdecor.in/com/2023/02/29184224/image-1689504354-3016.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;
    justify-content: center;
    align-items: center;
}

#landing{
    background-image: url(https://cdn.magicdecor.in/com/2023/02/29184224/image-1689504354-3016.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-repeat: no-repeat;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

#contenedor{
    display: grid;
    grid-template-columns:  80vh 80vh 80vh;
}

#fondo{
    z-index: -1;
    width: 100%;
    position: fixed;
    height: 100%;
}

img{
    width: 200px;
    height: 200px;
}

#detalles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.7);
  display: grid;
  place-items: center;
  z-index: 1000;
}

#contenidoDetalles {
  background-image: url(https://cdn.magicdecor.in/com/2023/02/29184224/image-1689504354-3016.jpg);
  padding: 30px;
  max-width: 500px;
  border-radius: 10px;
  color: aqua;
}

#cerrar {
  position: absolute;
  top: 10px;
  right: 10px;
}
